<section class="banner-{{ section.id }}" data-section-id="{{ section.id }}">
  {% if section.settings.background_image %}
    <img
      class="banner-{{ section.id }}__bg"
      src="{{ section.settings.background_image | image_url: width: 1920 }}"
      srcset="
        {{ section.settings.background_image | image_url: width: 960 }} 960w,
        {{ section.settings.background_image | image_url: width: 1920 }} 1920w
      "
      alt=""
      loading="lazy"
      width="{{ section.settings.background_image.width }}"
      height="{{ section.settings.background_image.height }}"
    >
  {% endif %}

  <div class="banner-{{ section.id }}__inner">
    <div class="banner-{{ section.id }}__content">
      {% if section.settings.heading != blank %}
        <h2 class="banner-{{ section.id }}__heading">{{ section.settings.heading }}</h2>
      {% endif %}

      {% if section.settings.subheading != blank %}
        <div class="banner-{{ section.id }}__subheading banner-{{ section.id }}__subheading--desktop">
          {{ section.settings.subheading }}
        </div>
      {% endif %}

      {% if section.settings.subheading_mobile != blank %}
        <div class="banner-{{ section.id }}__subheading banner-{{ section.id }}__subheading--mobile">
          {{ section.settings.subheading_mobile }}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <a
          href="{{ section.settings.button_link | default: '#' }}"
          class="banner-{{ section.id }}__button-desktop"
        >
          <span>{{ section.settings.button_label }}</span>
          <svg
            class="banner-{{ section.id }}__button-arrow"
            width="20"
            height="12"
            viewBox="0 0 20 12"
            fill="none"
            aria-hidden="true"
          >
            <path d="M1 6H19M19 6L14 1M19 6L14 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      {% endif %}
    </div>

    {% if section.settings.button_label != blank %}
        <a
          href="{{ section.settings.button_link | default: '#' }}"
          class="banner-{{ section.id }}__button"
        >
          <span>{{ section.settings.button_label }}</span>
          <svg
            class="banner-{{ section.id }}__button-arrow"
            width="20"
            height="12"
            viewBox="0 0 20 12"
            fill="none"
            aria-hidden="true"
          >
            <path d="M1 6H19M19 6L14 1M19 6L14 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg
            class="banner-{{ section.id }}__button-arrow"
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="12"
            viewBox="0 0 27 12"
            fill="none"
          >
            <path d="M0.75 4.77295L7.83954e-08 4.77295L-7.83954e-08 6.27295L0.75 6.27295L0.75 4.77295ZM26.7876 6.05328C27.0805 5.76039 27.0805 5.28551 26.7876 4.99262L22.0146 0.21965C21.7217 -0.0732435 21.2468 -0.0732435 20.9539 0.21965C20.6611 0.512543 20.6611 0.987417 20.9539 1.28031L25.1966 5.52295L20.9539 9.76559C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1191 21.7217 11.1191 22.0146 10.8263L26.7876 6.05328ZM0.75 6.27295L26.2572 6.27295L26.2572 4.77295L0.75 4.77295L0.75 6.27295Z" fill="none"/>
          </svg>
        </a>
      {% endif %}
  </div>
</section>

{% style %}
  .banner-{{ section.id }} {
    width: 100%;
    position:relative;
    background-color: {{ section.settings.background_color }};
    overflow: hidden;
  }

  .banner-{{ section.id }}__inner {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .banner-{{ section.id }}__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    pointer-events: none;
    z-index: 0;
  }

  .banner-{{ section.id }}__content {
    max-width: 600px;
    text-align: left;
    background-color: {{ section.settings.content_background_color }};
    {% if section.settings.content_background_color != 'rgba(0,0,0,0)' %}
      padding: 51px 67px;
    {% endif %}
  }

  .banner-{{ section.id }}__subheading--mobile {
    display: none;
  }


  .banner-{{ section.id }}__heading {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    margin: 0 0 50px;
    color: #000000;
  }

  .banner-{{ section.id }}__subheading {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
    margin: 0 0 32px;
  }

  .banner-{{ section.id }}__subheading p {
    margin: 0;
  }

  .banner-{{ section.id }}__button {
    display:none !important;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 220px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px 0px #00000033;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
  }

    .banner-{{ section.id }}__button-desktop {
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 220px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px 0px #00000033;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
  }

  .banner-{{ section.id }}__button::before , .banner-{{ section.id }}__button-desktop::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFF544;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 0;
  }

  .banner-{{ section.id }}__button span,
  .banner-{{ section.id }}__button-arrow {
    position: relative;
    z-index: 1;
  }

  .banner-{{ section.id }}__button-arrow {
    transition: transform 0.25s ease;
  }

  .banner-{{ section.id }}__button:hover,.banner-{{ section.id }}__button-desktop:hover,
  .banner-{{ section.id }}__button:focus-visible, .banner-{{ section.id }}__button-desktop:focus-visible {
    color: #000000;
  }

  .banner-{{ section.id }}__button:hover::before, .banner-{{ section.id }}__button-desktop:hover::before,
  .banner-{{ section.id }}__button:focus-visible::before, .banner-{{ section.id }}__button-desktop:focus-visible::before {
    transform: translateX(0);
  }

  .banner-{{ section.id }}__button:hover .banner-{{ section.id }}__button-arrow, .banner-{{ section.id }}__button-desktop:hover .banner-{{ section.id }}__button-arrow,
  .banner-{{ section.id }}__button:focus-visible .banner-{{ section.id }}__button-arrow , .banner-{{ section.id }}__button-desktop:focus-visible .banner-{{ section.id }}__button-arrow{
    transform: translateX(4px);
  }

  @media (max-width: 749px) {
    .banner-{{ section.id }}__button-desktop{
        display:none;
    }
    .banner-{{ section.id }}__inner {
      min-height: 421px;
      justify-content: space-between;
    }

    .banner-{{ section.id }}__bg {
      object-position: center top;
    }

    .banner-{{ section.id }}__content {
      max-width: 100%;
      text-align: center;
      margin: 0;
      width: 100%;
        padding: 49px 18.22px 12px 16.78px;
    }

    .banner-{{ section.id }}__heading {
      font-size: 30px;
      margin-bottom:24px;
    }

    .banner-{{ section.id }}__subheading {
      font-size: 16px;
      margin:0;
    }

    {% if section.settings.subheading_mobile != blank %}
      .banner-{{ section.id }}__subheading--desktop {
        display: none;
      }

      .banner-{{ section.id }}__subheading--mobile {
        display: block;
      }
    {% endif %}

    .banner-{{ section.id }}__button, .banner-{{ section.id }}__button-desktop {
      width: 193px;
      margin: 0 auto 39px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Banner",
  "tag": "section",
  "class": "section-custom-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background illustration"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading (desktop)",
      "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
    },
    {
      "type": "richtext",
      "id": "subheading_mobile",
      "label": "Subheading (mobile)",
      "info": "Discover Joy: Your Ultimate Holiday Gift Destination."
    },
    {
      "type": "color",
      "id": "content_background_color",
      "label": "Content background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
